body {
  background: url('./assets/images/road.jpg');
  background-color: azure;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#text {
  font-weight: 700;
  color: blueviolet;
  font-size: 1rem;
}

/* for large devices */
@media only screen and (min-width: 500px) {
  #text {
    font-size: 2rem;
  }
}